<div class="form-container">
	<form (ngSubmit)="onSubmit()" #repoForm="ngForm" class="form" >
		<mat-form-field class="full-width">
				<input matInput placeholder="GitHub Url"
                name="url"
				[(ngModel)]="urlForm"
				appAcceptedUrl=".git"
                required #url="ngModel">
		</mat-form-field>
		<mat-form-field class="full-width">
                <input matInput placeholder="Branch"
                name="branch"
                [(ngModel)]="branchName"
                required #branch="ngModel">
		</mat-form-field>
    <a href="localhost:4200/repository-graph">
      <button type="submit" [disabled]="!repoForm.form.valid" mat-raised-button color="primary" class="form-button">Analyse</button>
    </a>

	</form>
</div>
