.graph-menu {
  width: 95%;
  height: 95%;
  overflow: hidden;
}

li {
  list-style-type: none;
}

.weight-threshold-input {
  /*min-width: 30%;*/
  /*max-width: 70%;*/
}

.my-tile-container {
  width: 100%;
  /*max-height: 30px;*/
}
