<div class="graph-menu">
  <p>graph-menu works!</p>
  <ul>
    <li>
      <mat-checkbox [(ngModel)]="areZeroWeightsHidden" (change)="handleZeroWeightsChanged()">Hide zero weights</mat-checkbox>
    </li>
    <li>
      <mat-checkbox [(ngModel)]="areNeighboursHighlighted" (change)="handleNeighboursHighlighting()">Highlight neighbours of selected elements</mat-checkbox>
    </li>
<!--    <li>-->
<!--      <mat-checkbox>Highlight neighbours of selected nodes</mat-checkbox>-->
<!--    </li>-->
  </ul>
</div>
