.graph-menu {
  width: 100%;
  height: 50%;
  border: 2px solid red;
  overflow: auto;
}

li {
  list-style-type: none;
}

.weight-threshold-input {
  min-width: 30%;
  max-width: 70%;
}

.my-tile-container {
  width: 100%;
}
