.mat-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

mat-grid-list {
}

app-graph {
  width: 98%;
  height: 98%;
  padding: 1% 1%;
}

#dashboardSidePanel {
  width: 97%;
  height: 98%;
  padding: 1% 2%;
  overflow: auto;
  max-width: 40vh;
}

app-graph-menu {
  width: 100%;
  height: 100%;
}

#mainDashboardTitle {
  text-align: center;
}



#dashboardSidePanel::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#dashboardSidePanel::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#dashboardSidePanel::-webkit-scrollbar-thumb
{
  background-color: #000000;
}


