.mat-spinner {
  position: relative;
  top: 42%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
}

#dashboardSidePanel {
  overflow: auto;
  max-width: 40vh;
}

.my-dashboard-tile-container {
  width: 98%;
  height: 98%;
  padding: 0;
}

.my-dashboard-side-panel-content {
  width: 90%;
  height: 90%;
  padding: 0;
}

app-graph-menu {
  width: 100%;
  height: 100%;
}

#mainDashboardTitle {
  text-align: center;
}

#dashboardPanel {
  padding-top: 5vh;
}

#dashboardSidePanel::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#dashboardSidePanel::-webkit-scrollbar
{
  width: 6px;
  background-color: #F5F5F5;
}

#dashboardSidePanel::-webkit-scrollbar-thumb
{
  background-color: #000000;
}


