<!--<h2 id="mainDashboardTitle">The Dashboard for Your Project</h2>-->
<section *ngIf="analyserService.isLoading">
  <mat-spinner></mat-spinner>
</section>
<section id="dashboardPanel" *ngIf="!analyserService.isLoading">
  <mat-grid-list cols="3" rowHeight="80vh">
    <mat-grid-tile rowspan="1" colspan="2">
      <app-graph [projectStructure]="projectStructure"
      ></app-graph>
    </mat-grid-tile>
    <mat-grid-tile rowspan="1" colspan="1">
      <div id="dashboardSidePanel">
        <app-dashboard-side-panel></app-dashboard-side-panel>
        <app-snapshot-slider [snapshots]="snapshots"></app-snapshot-slider>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</section>
