<div class="container" [class.example-is-mobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="toolbar">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="app-name">Architectural Design Advisor</h1>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container"
                           [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
      <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <form class="search-form">
          <mat-form-field>
            <mat-label>Search owner</mat-label>
            <input matInput [(ngModel)]="searchedOwner" name="searchedOwner">
          </mat-form-field>
        </form>
        <mat-nav-list *ngIf="owners">
          <app-owner *ngFor="let owner of owners | filter : searchedOwner" [owner]="owner"></app-owner>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content class="sidenav-content">
          <app-repo-form></app-repo-form>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>



  <!-- Copyright 2019 Google LLC. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->
