.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.sidenav-content {
  height: 100%;
  padding: 1vh 1vw;
}

h1.app-name {
  margin-left: 8px;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.sidenav-content h2 {
  text-align: center;
}

.search-form {
  padding: 10px 16px 5px;
  align-items: center;
  position: relative;
  display: flex;
}

.mat-toolbar a {
  text-decoration: none;
  color: #FFFFFF;
}

.highlighted {
  font-weight: bold;
}

.my-toolbar-spacing {
  flex: 1 1 auto;
}
