<div id="dashboardSidePanelAccordion">
  <mat-accordion>
    <mat-expansion-panel (opened)="isMenuOpen = true"
                         (closed)="isMenuOpen = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Graph Menu
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-graph-menu></app-graph-menu>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="!isMenuOpen">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Element Insight
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-element-insight></app-element-insight>
    </mat-expansion-panel>
  </mat-accordion>
</div>
