<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-header>
      <mat-card-subtitle>
        <div class="info">
          <br><br>
          You will be redirected to the home page in a few seconds
          <br>
          <br>
        </div>

      </mat-card-subtitle>
      <mat-card-content>
        <div class="not-found">
          404
        </div>

      </mat-card-content>
      <mat-divider inset></mat-divider>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

