<div class="element-insight">
<!--  Display Nodes   -->
  <div *ngIf="selectedNodes.length == 0">
    <p>No nodes selected.</p>
  </div>
  <div *ngIf="selectedNodes.length > 0">
    <ul>
      <li *ngFor="let selectedNode of selectedNodes">
        Selected Nodes: {{retrieveNodeInformation(selectedNode).packageDeclaration.name}}
      </li>
    </ul>
  </div>

<!--  Display Edges   -->
  <div *ngIf="selectedEdges.length == 0">
    <p>No edges selected.</p>
  </div>
  <div *ngIf="selectedEdges.length > 0">
    <ul>
      <li>Selected Edges Count: {{selectedEdges.length}}</li>
    </ul>
  </div>
</div>
