<div class="element-insight">
<!--  Display Nodes   -->
  <div *ngIf="selectedNodes.length == 0">
    <p>No nodes selected.</p>
  </div>
  <div *ngIf="selectedNodes.length > 0">
    <div *ngFor="let selectedNode of selectedNodes">
      <u><b>{{extractClassName(selectedNode)}}</b></u>
<!--      retrieveNodeInformation(selectedNode).packageDeclaration.name)-->
    </div>
  </div>

<!--  Display Edges   -->
  <div *ngIf="selectedEdges.length == 0">
    <p>No edges selected.</p>
  </div>
  <div *ngIf="selectedEdges.length > 0">
    <div *ngFor="let selectedNode of selectedNodes">
      Selected Edges Count: {{selectedEdges.length}}
    </div>
  </div>
</div>
